FOOTBALL_DATA_API_TOKEN=your_token_here

DB_HOST=localhost
DB_PORT=5433
DB_NAME=football_db
DB_USER=postgres
DB_PASSWORD=your_password_here

POSTGRES_HOST_PORT=5433

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=your_airflow_database_password
AIRFLOW_ADMIN_USER=admin
AIRFLOW_JWT_SECRET=your_airflow_jwt_secret
AIRFLOW_API_SECRET_KEY=your_airflow_api_secret_key